---
---

@import "{{ site.theme }}";

/** Default Page Theme **/
$theme-default-primary:               #3AB0FF;
$theme-default-secondary:             #FFB562;
$theme-default-trinary:               #F87474;
$theme-default-background:            #F9F2ED;
$theme-default-text-color:            #323232;
$theme-default-link-color:            #3AB0FF;
$theme-default-hlink-color:           #8cccf7;
$theme-default-vlink-color:           #8cccf7; 

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, serif;
  color: $theme-default-text-color;
  background-color: $theme-default-background;
  overflow-x: hidden;
  width: 100%;
  margin: auto;
}

h1 {
  text-shadow: 0 1px 0 rgba(238, 246, 252, 0.64);
}

.spacers { 
 padding: 1rem; 
}

a {
  color: $theme-default-link-color;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 64%);
}

a:hover {
  color: $theme-default-hlink-color;
}

a:visited {
  color: $theme-default-vlink-color;
}

header {
  max-width: 75vh;
  margin: auto;
  margin: 0;
  padding: 0;
  padding-bottom: 2rem;
  display: inline;
  
  nav {
    display: inline;
  }

  a {
    text-decoration: none;
  }

  ul {
    display: inline;
  } 

  ul li { 
    list-style: none;
    display: inline;
    font-weight: 900;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  #progressbar {
    width: 25vh;
  }
}

#progressbar {
  width: 25vh;

}

